ul.paginacao{
	float: left;
}

ul.paginacao li{
	  display: inline;
  margin: 10px;
  float: left;
  width: 35px;
}

ul.paginacao li a{
	font-size: 15px;
	padding: 5px 10px;
	color: #88af3f;
	border: 1px solid #ddd;
	text-decoration: none;
}

ul.paginacao li a:hover{
	color: #638425;
	background: #f1ffd6;
	border: 1px solid #85bd1e;
	padding: 5px 10px;
}

ul.paginacao li.pagina_atual a{
	background-color: green;
	color: #fff!important;
}